<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% if page.layout == "post" %}
    <title>{{page.title}} - userd blog</title>
{% else %}
    <title>userd blog</title>
{% endif %}
<meta name="title" content="userd">
<meta name="description" content="Bots on Discord, Telegram and Twitter">
<meta name="keywords"
    content="userd, discord, someone, something, random amazon, telegram, twitter, memes, fun, bots, automation, cool, top.gg, macedonga">
<meta name="author" content="userd">
<meta name="copyright" content="2021">
<meta http-equiv="Reply-to" content="">
<meta http-equiv="content-language" content="EN">
<meta http-equiv="Content-Type" content="text/html; iso-8859-1">
<meta name="robots" content="INDEX,FOLLOW">
<meta name="creation_Date" content="27/08/2020">
<meta name="revisit-after" content="7 days">
<meta property="og:type" content="website">
<meta property="og:url" content="https://userd.xyz">
<meta property="og:title" content="userd">
<meta property="og:description" content="Bots on Discord, Telegram and Twitter">
<meta property="og:image" content="https://userd.xyz/assets/images/userd.banner.png">
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:site" content="@UserdBots">
<meta property="twitter:url" content="https://blog.userd.xyz/">
<meta property="twitter:title" content="userd">
<meta property="twitter:description" content="Bots on Discord, Telegram and Twitter">
<meta property="twitter:image" content="https://userd.xyz/assets/images/userd.banner.png">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
<link href="/assets/css/base.css" rel="stylesheet">
<link href="/assets/css/syntax.css" rel="stylesheet">
<link rel="alternate" type="application/atom+xml" title="userd blog" href="/feed.xml">
<script type="text/javascript"
        src="https://platform-api.sharethis.com/js/sharethis.js#property=6030bab3bd562e0011d2293b&product=inline-share-buttons"
        async="async"></script>